<div class="footer">
    <div class="media">
        <h3>Connect with Us</h3>
    <div class="platform fb"></div>
    <div class="platform tt"></div>
    <div class="platform ig"></div>
    <div class="platform wh"></div>

    </div>
    
</div>



</div>



</body>
</html>